/*
Ref -> https://www.color-hex.com
*/
/* Color */

$color-gray-light-1: #666666;
$color-gray-light-2: #dddddd;
$color-gray-light-3: #eeeeee;

$color-green-light-1: #006737;

$color-blue-light-1: #0066FF;

$color-black-light-1: #000000;

$color-white-light-1: #ffffff;

$media-largest: 75rem;   // 1200px
$media-large: 68.755rem; // 1100px
$media-medium: 56.25rem; // 900px

